.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
     
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: transparent;
    opacity: 1;
  }
  .border-radius-4{
    border-radius: 4px;
  }




  .h-400{
    height:400px;
  }
  .bg-grey{
    background: #22243C;
  }
  .h-1000p{
    max-height:700px;
  }
  .text-yellow{
    color:#ff9900 !important;
  }
  .border-yellow{
    border-color: #ff9900 !important;
  }
  .bg-yellow{
    background-color:#ff9900 !important;
  }